<%- include('../template/header'); -%>

    <body>
        <%- include('../template/nav'); -%>

            <div class="plugin">
                <section class="showcase">
                    <div class="container">
                        <div class="showcase-text mt-3 text-center">
                            <h2>Plugin</h2>
                            <p>Choose your favorite plugin from our collection of best quality WordPress Plugin.</p>
                        </div>
                    </div>
                </section>

                <section class="plugin-info">
                    <div class="container">
                        <div class="card grid bitform">
                            <div class="details">
                                <div class="title">
                                    <img src="assets/images/bitform_logo3.svg" alt="file not found">
                                    <p>Effortlessly build responsive forms using drag & drop interface with conditional
                                        logic.
                                    </p>
                                    <div class="button">
                                        <button type="button" class="btn btn-primary">View Demo</btn>
                                            <button type="button" class="btn btn-primary">View Details<span><img
                                                        src="assets/images/arrow_blue.svg"
                                                        alt="file not found"></span></button>
                                    </div>
                                    <div class="desc">
                                        <div class="item-left">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                Responsive design
                                            </div>

                                        </div>
                                        <div class="item-right">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                Responsive navigation
                                            </div>
                                        </div>
                                    </div>

                                    <div class="desc">
                                        <div class="item-left">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                Interactions
                                            </div>

                                        </div>
                                        <div class="item-right">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                Optimize hashtags
                                            </div>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <div class="item-left">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                Unlimited users
                                            </div>

                                        </div>
                                        <div class="item-right">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                All limited links
                                            </div>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <div class="item-left">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                Own analytics platform
                                            </div>

                                        </div>
                                        <div class="item-right">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                Chat support
                                            </div>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <div class="item-left">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                Optimize hashtags
                                            </div>

                                        </div>
                                        <div class="item-right">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                Unlimited users
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="image">
                                <img src="/assets/images/form_builder.webp" alt="file not found">
                            </div>
                        </div>
                        <div class="card grid crm-woocommerce">
                            <div class="details">
                                <div class="title">
                                    <img src="assets/images/bitform_logo3.svg" alt="file not found">
                                    <p>Effortlessly build responsive forms using drag & drop interface with conditional
                                        logic.
                                    </p>
                                    <div class="button">
                                        <button type="button" class="btn btn-primary">View Demo</btn>
                                            <button type="button" class="btn btn-primary">View Details<span><img
                                                        src="assets/images/arrow_blue.svg"
                                                        alt="file not found"></span></button>
                                    </div>
                                    <div class="desc">
                                        <div class="item-left">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                Responsive design
                                            </div>

                                        </div>
                                        <div class="item-right">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                Responsive navigation
                                            </div>
                                        </div>
                                    </div>

                                    <div class="desc">
                                        <div class="item-left">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                Interactions
                                            </div>

                                        </div>
                                        <div class="item-right">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                Optimize hashtags
                                            </div>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <div class="item-left">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                Unlimited users
                                            </div>

                                        </div>
                                        <div class="item-right">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                All limited links
                                            </div>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <div class="item-left">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                Own analytics platform
                                            </div>

                                        </div>
                                        <div class="item-right">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                Chat support
                                            </div>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <div class="item-left">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                Optimize hashtags
                                            </div>

                                        </div>
                                        <div class="item-right">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                Unlimited users
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="image">
                                <img src="/assets/images/crm_woocommerce.webp" alt="file not found">
                            </div>
                        </div>
                        <div class="card grid inventory-woocommerce">
                            <div class="details">
                                <div class="title">
                                    <img src="assets/images/bitform_logo3.svg" alt="file not found">
                                    <p>Effortlessly build responsive forms using drag & drop interface with conditional
                                        logic.
                                    </p>
                                    <div class="button">
                                        <button type="button" class="btn btn-primary">View Demo</btn>
                                            <button type="button" class="btn btn-primary">View Details<span><img
                                                        src="assets/images/arrow_blue.svg"
                                                        alt="file not found"></span></button>
                                    </div>
                                    <div class="desc">
                                        <div class="item-left">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                Responsive design
                                            </div>

                                        </div>
                                        <div class="item-right">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                Responsive navigation
                                            </div>
                                        </div>
                                    </div>

                                    <div class="desc">
                                        <div class="item-left">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                Interactions
                                            </div>

                                        </div>
                                        <div class="item-right">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                Optimize hashtags
                                            </div>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <div class="item-left">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                Unlimited users
                                            </div>

                                        </div>
                                        <div class="item-right">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                All limited links
                                            </div>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <div class="item-left">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                Own analytics platform
                                            </div>

                                        </div>
                                        <div class="item-right">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                Chat support
                                            </div>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <div class="item-left">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                Optimize hashtags
                                            </div>

                                        </div>
                                        <div class="item-right">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                Unlimited users
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="image">
                                <img src="/assets/images/inventory_woocommerce.webp" alt="file not found">
                            </div>
                        </div>
                        <div class="card grid bitsmtp">
                            <div class="details">
                                <div class="title">
                                    <img src="assets/images/bitform_logo3.svg" alt="file not found">
                                    <p>Effortlessly build responsive forms using drag & drop interface with conditional
                                        logic.
                                    </p>
                                    <div class="button">
                                        <button type="button" class="btn btn-primary">View Demo</btn>
                                            <button type="button" class="btn btn-primary">View Details<span><img
                                                        src="assets/images/arrow_blue.svg"
                                                        alt="file not found"></span></button>
                                    </div>
                                    <div class="desc">
                                        <div class="item-left">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                Responsive design
                                            </div>

                                        </div>
                                        <div class="item-right">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                Responsive navigation
                                            </div>
                                        </div>
                                    </div>

                                    <div class="desc">
                                        <div class="item-left">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                Interactions
                                            </div>

                                        </div>
                                        <div class="item-right">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                Optimize hashtags
                                            </div>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <div class="item-left">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                Unlimited users
                                            </div>

                                        </div>
                                        <div class="item-right">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                All limited links
                                            </div>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <div class="item-left">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                Own analytics platform
                                            </div>

                                        </div>
                                        <div class="item-right">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                Chat support
                                            </div>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <div class="item-left">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                Optimize hashtags
                                            </div>

                                        </div>
                                        <div class="item-right">
                                            <div class="icon">
                                                <img src="assets/images/check_blue.svg" alt="file not found">
                                            </div>
                                            <div class="text">
                                                Unlimited users
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="image">
                                <img src="/assets/images/bitsmtp.webp" alt="file not found">
                            </div>
                        </div>
                    </div>
                </section>




                <section class="support mt-5">
                    <div class="container grid grid-fr-1">
                        <div class="card mt-5 text-center">
                            <div class="card-item flex flex-center">

                                <div class="live-chat">
                                    <img src="/assets/images/chat.svg" alt="file not found">
                                    <div class="content">
                                        <h2>24/7 Live chat support

                                        </h2>
                                        <p> Ask any questions anytime.
                                            We're ready to take on any WordPress
                                            question</p>
                                    </div>

                                </div>
                                <div class="image">
                                    <img src="/assets/images/support.svg" alt="file not found">

                                </div>
                            </div>

                        </div>
                    </div>
                </section>

                <%- include('../template/footer'); -%>
                    <%- include('../template/script'); -%>



    </body>