<footer class="integrator-footer mt-5 mb-5">
    <div class="container grid">

        <div class="footer-logo">
            <img src="/assets/images/bit_integrator_black.svg" alt="file not found">

        </div>
        <div class="product flex flex-column">
            <div class="heading">
                <h3>Products</h3>

            </div>
            <div class="menu flex flex-column mt-1">
                <a href="">Bit Form</a>
                <a href="">Bit Integrator</a>
                <a href="">Bit SMTP</a>
                <a href="">Zoho CRM With Woocommerce</a>
                <a href="">Zoho Inventory With Woocommerce</a>
            </div>
        </div>
        <div class="company flex flex-column">
            <div class="heading">
                <h3>Company</h3>

            </div>

            <div class="menu flex flex-column mt-1">
                <a href="">Blog</a>
                <a href="">About</a>
                <a href="">Contact Us</a>
            </div>

        </div>

        <div class="social-media flex flex-column">
            <div class="heading">
                <h3>Social Media</h3>
            </div>


            <div class="icon flex flex-row mt-1">
                <a href=""> <img src="/assets/images/facebook_icon.svg" alt="file not found">
                </a>
                <a href=""> <img src="/assets/images/Twitter_icon.svg" alt="file not found">
                </a>
                <a href=""> <img src="/assets/images/YouTube_icon.svg" alt="file not found">
                </a>
                <a href=""> <img src="/assets/images/Pinterest_icon.svg" alt="file not found">
                </a>

            </div>
        </div>
    </div>

</footer>