<div class="top-bar">
    <div class="navbar">
        <div class="flex">
            <div class="logo flex">
                <a href="/"><img src="/Assets/images/bitapps_svg.svg" alt="file not found"></a>
            </div>
            <div class="links flex" id="links">
                <a href="bitform">Bit Form</a>
                <a href="bit-integrator">Bit Integrator</a>
                <a href="index.html">Bit SMTP</a>
                <a href="index.html">WooCommerce</a>
                <a href="index.html">Contact Us</a>
            </div>

        </div>

    </div>
</div>